<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Minimal Django File Upload Example</title>
    <link type="text/css" rel="stylesheet" href="/static/main/css/style.css"/>
</head>

<body>
<!-- used for eye positioning -->
<img class="cross" id="crossLeft" src="/static/main/images/crossred.png">
<img class="cross" id="crossRight" src="/static/main/images/crossblue.png">
<!-- List of uploaded documents -->
<div class="facelist">
    {% if documents %}
        {% for document in documents %}
            <span class="tenthumb">
            <a class="imgdel" href="{%  url "deleteface" faceid=document.id userid=userid %}">[x]</a>
            <img class="tenthumb" src="{{ document.photo.url }}"/>
            </span>
        {% endfor %}
    {% else %}
        <p>No documents.</p>
    {% endif %}
</div>


<!-- Upload form. Note enctype attribute! -->
<form action="{% url "face" userid=userid  %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="leftpane">
        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.face.label_tag }} {{ form.face.help_text }}</p>

        <p>
            <button type="button" onclick="setLeftEye();return false;">Left Eye:</button>
            {{ form.leftEyeX }},{{ form.leftEyeY }}</p>
        <p>
            <button type="button" onclick="setRightEye();return false;">Right Eye:</button>
            {{ form.rightEyeX }},{{ form.rightEyeY }}</p>
        <p><input type="submit" value="Upload"/></p>
    </div>
    <div class="mainpane">
        <p>
            {{ form.face.errors }}
            {{ form.face }}
        </p>
        <img id="preview" src="#" alt="Preview of uploaded image"/>
    </div>

</form>
<script type="text/javascript" src="/static/main/js/jquery-2.1.0.min.js"></script>

<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function setLeftEye() {
        var $preview = $("#preview");
        $preview.css("cursor", "crosshair");
        $preview.one('click',function (event) {
            event.preventDefault(); //because browsers be crazy
            var lx = 0;
            var ly = 0;
            if (event.offsetTop) {
                lx = event.offsetLeft;
                ly = event.offsetTop;
            } else {
                lx = event.pageX-$preview[0].offsetLeft;
                ly = event.pageY-$preview[0].offsetTop;
            }
            $("#id_leftEyeX").val(lx);
            $("#id_leftEyeY").val(ly);
            $("#crossLeft").css({
                left:event.pageX-50,
                top:event.pageY-50
            });
            console.log(lx+" "+ly);
            $preview.css("cursor", "default");
        });

        return true;
    }

    function setRightEye() {
        var $preview = $("#preview");
        $preview.css("cursor", "crosshair");
        $preview.one('click',function (event) {
            event.preventDefault(); //because browsers be crazy
            var rx = 0;
            var ry = 0;
            if (event.offsetTop) {
                rx = event.offsetLeft;
                ry = event.offsetTop;
            } else {
                rx = event.pageX-$preview[0].offsetLeft;
                ry = event.pageY-$preview[0].offsetTop;
            }
            $("#id_rightEyeX").val(rx);
            $("#id_rightEyeY").val(ry);
            $("#crossRight").css({
                left:event.pageX-50,
                top:event.pageY-50//these are hackish, should get the crosshair size to determine this
            });
            console.log(rx+" "+ry);
            $preview.css("cursor", "default");

        });
    }



    $("#id_face").change(function () {
        readURL(this);
    });

    $(".imgdel").on('click',function (event){
        var el = this
        $.get(this.href,function(){
            console.log("deleting parent");
            $(el).parent().remove();
        });
        event.preventDefault();
        return false;
    });


</script>

</body>

</html> 
