.xyinput{
    max-width: 40px;
    font-size: 10pt;
    background-color:transparent;
    border: 0px solid;
}
.xyinput.right{
    color:blue;
}
.xyinput.left{
    color:red;
}
.xyinput.mouth{
    color:green;
}
.xyinput:focus {
    outline: 0;
}
div.mainpane{

}

div.leftpane{
    float:left;
}

img.tenthumb{
    width:9%;
}
div.tenthumb{
    width:9%
}
a.imgdel{
    text-decoration: none;
    position: absolute;
}
img.cross{
    position: absolute;
    left:-1000px;
    top:-1000px;
}